---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
<main class='main'>
	<a href='/prueba'>prueba</a>
	ARISA
</main>
</Layout>

<style>
	.main {
		color: red;
	}
</style>