---
import BaseLayout from '../layouts/BaseLayout.astro';
import Menu from '../components/Menu.astro';
---



<BaseLayout title="Welcome to Astro.">
	<main class='index-main'>
		<a href='/prueba'>prueba</a>
		ARISA
		<Menu/>
	</main>
</BaseLayout>

<style>
	.index-main {
		color: red;
	}

</style>
