---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
  <div class='prueba'>
    <h1>PAULA INGLES</h1>
    <a href='/'>home</a>
  </div>
  
  
  <style>
    div{
      width: 100%;
      height: 100vh;
      margin: 0;
      padding: 0;
      background-color: var(--fondoOscuro);
    }
    :global(.light) .prueba{
      background-color: var(--fondoClaro);
    }
    a{
      color: inherit;
      
    }
    </style>
</BaseLayout>