---
import ToggleTheme from '../components/ToggleTheme.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<ToggleTheme/>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--fondoOscuro: #444;
		--fondoClaro: hsla(60, 11%, 80%, 1);
		--textoOscuro: red;
		--textoClaro: #000;
	}
	html {
		font-family: system-ui, sans-serif;
	}
	body{
		background-color: var(--fondoOscuro);
		color: var(--textoOscuro);
	}
	.light body{
		background-color: var(--fondoClaro);
		
	}
</style>
